@charset "UTF-8";

/* 回答はここに書いてね */
.horizontal__box__left {
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
  display: inline-block;
}

.q5__horizontal__box {
  text-align: center;
}

.horizontal__box__right {
  margin: auto;
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}

.main__center {
  display: table;
}

.main__table {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.main__cell {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.sub__center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.sub__cell {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.box__left {
  position: relative;
}

.box__left__txt {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box__right {
  position: relative;
}

.box__right__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* 回答はここに書いてね */
