@charset "UTF-8";

/* 回答はここに書いてね */

.center-box {
  text-align: center;
}

.small {
  margin: 5px;
  padding: 0px 15px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
}

.middle {
  margin: 5px;
  padding: 0px 20px;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
}

.large {
  margin: 5px;
  padding: 0px 25px;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
  border-radius: 7px;
  display: inline-block;
}

.common {
  background-color: #00bcd4;
}

.error {
  background-color: #ff4081;
}

.disabled {
  background-color: #e5e5e5;
}

.shadow {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),0 1px 4px rgba(0,0,0,.12);
  color: #222;
}
/* 回答はここに書いてね */
