@charset "UTF-8";

/* 回答はここに書いてね */
.coment__box {
  margin: auto;
  position: relative;
  padding: 20px;
  width: 500px;
  border: 5px solid #222;
  border-radius: 30px;
}

.coment__box::before,
.coment__box::after {
  position: absolute;
  right: 0;
  left: 65px;
  width: 0;
  height: 0;
  content: "";
}

.coment__box::before {
  left: 60px;
  bottom: -53px;
  border-color: #222 transparent transparent transparent;
  border-style: solid;
  border-width: 25px;
}

.coment__box::after {
  bottom: -40px;
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 20px;
}

.content__box__txt {
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */
