@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  width: 100%;
  table-layout: fixed;
}

.menu:nth-child(odd) {
  background-color: #ecf1f2;
}

.menu:last-child {
  border-top: dashed #000 2px;
}

.text {
  padding: 10px;
  border: solid #dedede 1px;
  font-size: 16px;
  line-height: 22px;
}

.heading,
.text:first-child {
  padding: 10px;
  border: solid #dedede 1px;
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

/* 回答はここに書いてね */
