@charset "UTF-8";

/* 回答はここに書いてね */

input,button {
  -webkit-appearance: none;
}

.outer {
  margin: 0 auto;
  padding: 20px;
  width: 700px;
  background-color: #ecf1f2;
}

.form__title {
  margin-bottom: 20px;
  position: relative;
}

.form__title::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: '';
}

.form__txt {
  padding-right: 10px;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  background-color: #ecf1f2;
  display: inline-block;
}

.form__box {
  float: left;
  width: 300px;
}

.red-asterisk {
  color: #f00;
}

.space {
  margin-bottom: 20px;
}

.clearfix::before,
.clearfix::after {
  display: table !important;
  content: '';
}

/*form左入力部分*/

.base__content {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}

.base__box {
  float: right;
  width: 180px;
}

.base__txt {
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

/*radioボタン*/

.base__radio {
  cursor: pointer;
}

.base__radio__btn {
  display: none;
}

.radio_txt {
  padding: 3px 3px 3px 20px;
  position: relative;
  display: inline-block;
}

.radio_txt::before {
  margin-top: -8px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.base__radio__btn:checked + .radio_txt::after {
  margin-top: -4px;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  background: #00bcd4;
  border-radius: 50%;
  content: '';
}

/*右コメント記入欄*/

.form__msg {
  float: right;
  width: 380px;
}

.form__msg__box {
  padding: 10px;
  width: 100%;
  height: 203px;
  background-color: #fff;
  font-size: 12px;
  border-radius: 3px;
  border: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

/*送信ボタン*/

.form__submit {
  text-align: right;
}

.form__submit__btn {
  padding: 0px 10px;
  background: none;
  background-color: #00bcd4;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;

}

.base__submit {
  background-color: #00bcd4;
  color: #fff;
}

/* 回答はここに書いてね */
