@charset "UTF-8";

/* 回答はここに書いてね */
.menu {
  display: table;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.menu > div {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.is-pink {
  background-color: #fdc8b8;
  width: 100px;
}

.is-purple {
  background-color: #e0abd9;
}

.is-skyblue {
  background-color: #b6d8ed;
  width: 100px;
  margin-right: 20px;
}

.is-yellow {
  background-color: #e5d32e;
}

.is-lemon {
  background-color: #e4e67c;
}

.is-green {
  background-color: #8fdcad;
  width: 500px;
}


/* 回答はここに書いてね */
