@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  height: 500px;
  width: 500px;
  margin: auto;
  position: relative;
  background-color: #ecf1f2;
}

.layout {
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
}

.box__one {
  top: 40px;
  left: 200px;
  background-color: #ffefd3;
  z-index: 0;
}

.box__two {
  top: 120px;
  left: 280px;
  background-color: #7084de;
  z-index: 1;
}

.box__three {
  top: 200px;
  left: 360px;
  background-color: #d0ecea;
  z-index: 2;
}

.box__four {
  top: 280px;
  left: 280px;
  background-color: #8b7a5e;
  z-index: 3;
}

.box__five {
  top: 360px;
  left: 200px;
  background-color: #9fd6d2;
  z-index: 4;
}

.box__six {
  top: 280px;
  left: 120px;
  background-color: #fffee4;
  z-index: 5;
}

.box__seven {
  top: 200px;
  left: 40px;
  background-color: #deae70;
  z-index: 6;
}

.box__eight {
  top: 120px;
  left: 120px;
  background-color: #de70cf;
  z-index: 7;
}

.box__eight::after {
  height: 20px;
  width: 20px;
  top: 0;
  left: 80px;
  position: absolute;
  background-color: #ffefd3;
  content: '';
}

.box__nine {
  top: 10px;
  left: 10px;
  position: fixed;
  background-color: #2b69a3;
}
/* 回答はここに書いてね */
